<h1>Welcome to the best kinki cinema database</h1>
<ul>
    <li><a href="/celebrities/create">Add a new celebrity</a></li>
    <li><a href="/celebrities">Watch all celebrities</a></li>
    <li><a href="/movies/create">Add a movie</a></li>
    <li><a href="/movies">Watch all movies</a></li>
</ul>





